.conteudo-lembrete{
    padding: 7px;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: -6px;
    border-style: groove;
    border-color: rgb(122, 122, 122);
    justify-content: center;
    align-items: center;
    
}


.nome-lembrete{
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
}


.descricao-lembrete{
    text-decoration: none;
    font-size: 1rem;
}

.data-lembrete{
    text-decoration: none;
    color: antiquewhite;
    font-size: 0.8rem;
}